body {
	position: relative;
	margin: 0 auto;
	max-width: 1200px;
	min-width: 768px;

	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;

	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px; width: 1px;
	margin: -1px; padding: 0; border: 0;
}

.wrapper {
	margin: 0;
	margin-left: 6%;
	margin-right: 6%;
}

.header-main {
	background-color: #ffffff;
}

.navigation-main {
	position: relative;

	color: #000000;

	background-color: #ffffff;
}

.logo-main img {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 999;

	width: 138px;
	height: 70px;

	transform: translate(-50%);	
}

.navigation-site {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
}

.navigation-site li {
	padding: 15px 0;
	width: 20%;	

	list-style: none;
}

.navigation-site li:nth-child(4n-3) {
	margin-left: 6%;
}

.navigation-site li:nth-child(4n+4) {
	margin-right: 6%;
}

.navigation-site li:nth-child(4n+2) {
	margin-right: auto;
}

.navigation-site li:nth-child(4n-3),
.navigation-site li:nth-child(4n+2) {
	text-align: left;	
}

.navigation-site li:nth-child(4n+3),
.navigation-site li:nth-child(4n+4) {
	text-align: right;
}

.navigation-site a {
	font-weight: bold;
	color: #000000;
}

.navigation-site a:hover,
.navigation-site a:focus {
	color: #81b3d2;	
}
.navigation-site a:active {
	color: #000000;
	opacity: 0.3;
}

.navigation-site_active a,
.navigation-site_active a:hover,
.navigation-site_active a:active {
	color: #766357;
	opacity: 1;
}

main {
	background-color: #ffffff;
}

.intro {
	position: relative;
	padding-top: 76px;
	padding-bottom: 81px;

	color: #000000;

	background: url(../img/intro-border.png) no-repeat 50% 100%,
				#b6d0e4 url("../img/intro-bg.jpg") no-repeat 0 21%;
	background-size: 100%, cover;
}

.intro img {
	display: block;
	margin: 0 auto;
}

.intro img:nth-child(2) {
	margin-bottom: 11px;
	width: 188px;
	height: 45px;
}
.intro img:nth-child(3) {
	margin-bottom: 52px;
	width: 256px;
	height: 30px;
}
.intro img:nth-child(4) {
	margin-bottom: 56px;
	width: 458px;
	height: 78px;
}
.intro img:nth-child(5) {
	width: 296px;
	height: 80px;
}

.features {
	color: #000000;

	background-color: #ffffff;
}

.features__head {
	padding-top: 60px;
	padding-bottom: 51px;
}

.features__head h1 {
	margin: 0;
	margin-bottom: 26px;
	
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.features__head p {
	margin: 0;
}

.features__item {
	display: flex;	
}

.col-x1 {
	width: 33%;
}

.col-x2 {
	width: 67%;
}

.features__title {
	position: relative;

	padding-top: 47px;
	padding-bottom: 38px;
}

.features__title h2 {
	margin: 0;
	margin-bottom: 24px;
	padding-left: 25%;
	padding-right: 25%;

	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
}

.features__title p {
	margin: 0;
	margin-bottom: 21px;
	padding-left: 10%;
	padding-right: 10%;
	
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
}

.features__title_blue {
	color: #ffffff;

	background-color: #81b3d2;
}

.features__title_white {
	padding-top: 161px;
	padding-bottom: 61px;
	margin: 0;
	flex-grow: 1;

	color: #000000;

	background-color: #ffffff;
}

.features__title_white::before {
	content: "";
	position: absolute;
	left: 50%;

	color: #ffffff;

	transform: translate(-50%);
}

.features__title_white:nth-child(1)::before {
	top: 60px;

	width: 75px;
	height: 72px;

	background: #ffffff url("../img/icon-features-2_1.svg") no-repeat 0 0;
}

.features__title_white:nth-child(2)::before {
	top: 61px;

	width: 74px;
	height: 70px;

	background: #ffffff url("../img/icon-features-2_2.svg") no-repeat 0 0;
}

.features__title_white:nth-child(3)::before {
	top: 56px;
	
	width: 64px;
	height: 76px;

	background: #ffffff url("../img/icon-features-2_3.svg") no-repeat 0 0;
}

.features__item_grey {
	color: #000000;
	
	background-color: #eeeeee;
}

.features__title_grey {
	flex-grow: 1;

	color: #000000;
	
	background-color: #eeeeee;
}

.features__item:nth-child(2) .features__img {
	background: #b6d0e4 url("../img/features1.jpg") no-repeat 0 54%;
	background-size: cover;
}
.features__item:nth-child(4) .features__img {
	background: #b6d0e4 url("../img/features3.jpg") no-repeat 0 53%;
	background-size: cover;
}

.search-form-title {
	margin: 0;
	padding-top: 50px;

	color: #000000;
	
	background-color: #ffffff;
}

.search-form-title b {
	display: block;
	margin: 0;
	margin-bottom: 24px;
	
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}

.search-form-title p {
	margin: 0;
	margin-bottom: 47px;
	
	font-size: 14px;
	line-height: 24px;
}

.btn-search-form {
	display: inline-block;
	margin: 0 auto;
	padding: 30px 140px;
	
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	text-align: center;

	text-decoration: none;
	background-color: #766357;
}

.btn-search-form:hover,
.btn-search-form:focus {
	background-color: #604e43;
}

.btn-search-form:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.search-form {
	position: absolute;
	padding-top: 55px;
	padding-right: 55px;
	padding-bottom: 55px;
	padding-left: 55px;
	left: 50%;
	transform: translate(-50%);

	width: 458px;
	height: 285px;

	background-color: #ffffff;
}

.search-form-wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 29px;
}

.search-form fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.search-form label {
	width: 112px;

	font-weight: bold;
	text-align: left;
}

.search-form input {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	text-align: left;
	
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
}

.search-form input:hover {
	background-color: #ebebeb;
	border: 2px solid #ebebeb;
}

.search-form input:focus {
	background-color: #ffffff;
	border: 2px solid #f2f2f2;
}

.search-form .search-form__data {
	margin-bottom: 1px;
}

.search-form__data label {
	/*width: 112px;*/
}

.search-form__input {
	position: relative;
	margin: 0;
	padding: 0;
}

.search-form__data input {
	padding: 4px;
	padding-left: 11px;
	padding-right: 36px;

	display: inline-block;
	width: 294px;
}

.search-form__btn-calendar {
	position: absolute;
	top: 2px;
	right: 2px;

	width: 34px;
	height: 34px;

	font-size: 0;
	line-height: 0;
		
	background: #f2f2f2 url("../img/calendar.svg") no-repeat 7px 6px;
	border: 0;
}

.search-form__btn-calendar:hover,
.search-form__btn-calendar:focus {
	background: #f2f2f2 url("../img/calendar_hover.svg") no-repeat 7px 6px;
}

.search-form__btn-calendar:active {
	background: #f2f2f2 url("../img/calendar_active.svg") no-repeat 7px 6px;
}

.search-form input:hover + .search-form__btn-calendar {
	background-color: #ebebeb;
}

.search-form input:focus + .search-form__btn-calendar {
	background-color: #ffffff;
}

.search-form .search-form__passenger {
	display: flex;
}

.search-form__passenger label {	
	/*width: 112px;*/
}

.search-form__passenger label:nth-child(3) {
	margin-left: auto;	
	width: 64px;
}

.search-form__passenger input {
	box-sizing: border-box;
	padding: 4px;
	width: 38px;
	text-align: center;
	padding-right: 4px;
	padding-left: 4px;
}

.search-form__passenger .search-form__input {
	display: inline-flex;
	justify-content: center;
	align-items: flex-start;	
}

.search-form__btn-passenger {
	position: relative;
	width: 38px;
	height: 38px;
	text-align: center;
	font-size: 0;
	line-height: 0;
	border: 0;
	background-color: #f2f2f2;
}

.search-form__btn-passenger_less::before {
	content: "";
	position: absolute;
	width: 11px;
	height: 3px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	background-color: #a9a9a9;
}
.search-form__btn-passenger_more::before {
	content: "";
	position: absolute;
	width: 11px;
	height: 3px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	background-color: #a9a9a9;
}

.search-form__btn-passenger_more::after {
	content: "";
	position: absolute;
	width: 3px;
	height: 11px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	background-color: #a9a9a9;
}

.search-form__btn-passenger_more:hover,
.search-form__btn-passenger_more:focus {
	background-color: #ebebeb;
}

.search-form__btn-passenger_more:hover::before,
.search-form__btn-passenger_more:hover::after,
.search-form__btn-passenger_more:focus::before,
.search-form__btn-passenger_more:focus::after {	
	background-color: #000000;
}

.search-form__btn-passenger_less:hover,
.search-form__btn-passenger_less:focus {
	background-color: #ebebeb;
}

.search-form__btn-passenger_less:hover::before,
.search-form__btn-passenger_less:focus::before {
	background-color: #000000;
}

.search-form__btn-passenger_more:active::before,
.search-form__btn-passenger_more:active::after {
	background-color: #81b3d2;
}
.search-form__btn-passenger_less:active::before {
	background-color: #81b3d2;
}

.btn-form {
	padding: 16px;
	margin-top: 25px;

	width: 100%;

	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;

	background-color: #81b3d2;
	border: none;
}

.btn-form:hover,
.btn-form:focus {
	background-color: #669ec0;
}

.btn-form:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #5496bd;
}

.map img {
	display: block;
	width: 1200px;
	height: 593px;

	text-align: center;
}

/*
.map-img::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 593px;
	background: #ffffff url("../img/map.jpg") no-repeat 50% 0;
	background-size: cover;	
}*/

.footer-main {
	bottom: 0;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 120px;

	color: #000000;

	background-color: rgba(254,254,254,0.9);
}

.footer-index {
	position: absolute;
}

.footer-main div {
	margin: 0 auto;

	text-align: center;
}

.footer-hashtag {
	width: 33%;
	flex-grow: 1;

	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.footer-socials {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 33%;
	flex-grow: 1;
	
	font-size: 0;
	line-height: 0;
}

.socials-btn {
	position: relative;	
	margin-right: 6px;

	width: 46px;
	height: 48px;
	
	background-color: #81b3d2;
}

.socials-btn:hover,
.socials-btn:focus {
	background-color: #669ec0;
}

.socials-btn:active {
	background-color: #5496bd;
}

.socials-btn:active::before {
	opacity: 0.3;
}

.socials-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

.socials-btn-tw::before {
	width: 17px;
	height: 15px;

	background: url('../img/icon-tw.svg');
}
.socials-btn-fb::before {
	width: 12px;
	height: 22px;

	background: url('../img/icon-fb.svg');
}
.socials-btn-yt::before {
	width: 20px;
	height: 16px;

	background: url('../img/icon-yt.svg');
}

.footer-copyright {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: 33%;
	flex-grow: 1;
}

.footer-copyright p {
	margin-right: 6px;
}

.footer-copyright a {
	position: relative;
	width: 115px;
	height: 41px;
}

.footer-copyright a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;

	width: 115px;
	height: 41px;
	
	background: url('../img/logo-htmlacademy.svg') no-repeat;
}

.footer-copyright a:hover::before,
.footer-copyright a:focus::before {
	background: url('../img/logo-htmlacademy_hover.svg') no-repeat;
}

.footer-copyright a:active::before {
	background: url('../img/logo-htmlacademy_active.svg') no-repeat;
}

/*--------------------------------НАЧАЛО HOTEL----------------------------*/

.filters {
	padding: 27px 0 7px;

	color: #ffffff;

	background: url('../img/filters-bg.jpg') no-repeat 0 50%;
	background-size: cover;
}

.filters form {
	display: flex;
}

.filters fieldset {
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;

	text-align: left;

	border: none;
}

.filters .filters__infrastructure {
	width: 150px;
	margin-right: 10%;
}

.filters__type-hotel {
	width: 150px;
}

.filters .filters__price {
	margin-left: auto;	

	display: flex;
	flex-direction: column;
	max-width: 317px;
	min-width: 222px;
	width: 31%;	
}

.filters__title {
	margin-bottom: 25px;

	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}

.filters__price .filters__title {
	margin-bottom: 10px;
}

.filters label {
	margin-bottom: 25px;

	font-size: 14px;
	line-height: 21px;
}

.filter__price {
	position: relative;
	margin: 0;
	margin-bottom: 10px;
	
	display: flex;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.filter__price::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background-color: #ffffff;

	transform: translate(-50%, -50%);
}

.filter__price input {
	/*margin: 0;*/
	padding: 9px;
	width: 50%;
	
	text-align: center;
	color: #ffffff;

	border: none;
	background-color: transparent;
}

.filter__price input::placeholder {
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.filter__range {
	margin: 0;	
}

.filter__range input {
	width: 49%;
}

.btn-filter {
	margin: 15px auto 0;
	padding: 5px 5px;

	width: 137px;
	

	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.btn-filter:hover,
.btn-filter:focus {
	color: #000000;

	background-color: #ffffff;
}

.sorting {
	padding-top: 30px;
	padding-bottom: 29px;

	color: #000000;

	background-color: #ffffff;
	border-bottom: 1px solid #e5e5e5; 
}

.sorting .wrapper {
	display: flex;
	align-items: center;
}

.sorting h2 {
	margin: 0;
	margin-right: 48px;

	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.sorting__filters {
	display: flex;
	align-items: center;
}

.sorting__filters h3 {
	margin: 0;
	margin-right: 40px;

	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
}

.btn-sort {
	margin-right: 32px;

	border-bottom: 1px dotted #81b3d2;

	font-size: 12px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
}

.btn-sort:hover,
.btn-sort:focus {
	color: #81b3d2;
}

.btn-sort:active {
	color: #000000;
	border-color: transparent;
}

.btn-sort_active {
	color: #81b3d2;
	border-color: transparent;
}

.sorting__dir {
	margin-left: auto;
}

.btn-sort-dir {
	position: relative;
	margin-right: 12px;

	font-size: 0;
	line-height: 0;
}

.btn-sort-dir:nth-child(2) {
	margin-left: 7px;
}

.btn-sort-dir::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;

	width: 0px;
	height: 0px;

	border: 6px solid #cacaca;
	border-top-width: 0;
	border-bottom-width: 10px;
	border-color: #cacaca transparent;
}

.btn-sort-dir:last-child::before {
	border-top-width: 10px;
	border-bottom-width: 0;
}

.btn-sort-dir:hover::before,
.btn-sort-dir:focus::before {
	border-color: #000000 transparent;
}

.btn-sort-dir:active::before {
	border-color: #81b3d2 transparent;
}

.btn-sort-dir_active::before {
	border-color: #81b3d2 transparent;
}

.hotels {
	display: flex;
	flex-direction: column;

	text-align: left;

	background-color: #ffffff;
}

.hotels__item {
	padding-top: 25px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e5e5e5;
}

.hotels__item .wrapper {
	display: flex;
	align-items: center;
}

.hotels__item img {
	margin-top: 5px;
	margin-right: 30px;

	width: 135px;
	height: 90px;
}

.hotels__item h3 {
	margin: 0;
	margin-bottom: 6px;

	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.hotels__type-price {
	margin: 0;

	display: flex;

	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.hotels__type-price span {
	width: 116px;
}

.btn-more {
	margin-top: 14px;
	margin-right: 3px;
	padding: 3px;

	display: inline-block;
	width: 104px;	

	text-align: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;

	background-color: #81b3d2;
}

/*.btn-more:hover,
.btn-more:focus {
	background-color: #669ec0;
}

.btn-more:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #669ec0;
}*/

.btn-reservation {
	margin-top: 14px;
	margin-right: 3px;
	padding: 3px;

	display: inline-block;
	width: 136px;	

	text-align: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;

	background-color: #766357;
}

.btn-reservation:hover,
.btn-reservation:focus {
	background-color: #604e43;
}

.btn-reservation:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #503e33;
}

.hotel__ratings {
	margin-top: 5px;
	margin-left: auto;

	align-self: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.hotel__stars {
	position: relative;

	width: 18px;
	height: 17px;
	
	font-size: 0;
	line-height: 0;

	background: url(../img/star.svg) repeat-x;
}

.hotel__stars_5 {
	width: 90px;
}
.hotel__stars_4 {
	width: 72px;
}
.hotel__stars_3 {
	width: 54px;
}
.hotel__stars_2 {
	width: 36px;
}

.hotel__rating {
	margin: 0;
	padding: 3px;
	
	width: 105px;

	text-align: center;
	font-size: 14px;
	line-height: 21px;
	color: #666666;

	background-color: #f2f2f2;
}